*{
  box-sizing: border-box;
}
li{
  display: inline;
}
li a{
  padding-right:  20px;
}
img{
  margin:  auto;
  width: 200px;
  display: block;
}
.box{
  width: 32.5%;
  display: inline-block;
  padding: 20px;
  margin-bottom: 5px;
  background: #bdc4c9;

}