.is-required:after {
  content: '*';
  color: red;
  padding-left: 3px ;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(89, 89, 126);
  color: aliceblue;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

}
/* set the transparent background for header */
header:before{
  content: '';
  background: url(https://source.unsplash.com/collection/190727/1600x900
  ) no-repeat center center/cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* push the pic back */
  z-index: -1;
}


header > h1{
  font-size: 3rem;
  margin: 1rem;
}