
 body {
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box {
 background-color: white;
 width: 300px;
 height: 300px;
/* transform: rotate(25deg); */
/* transform: skew(25deg); */
/* transform: scale(2); */
}
.box:hover{

}