
#container {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
}

.item {
  background: #f4f4f4;
  border: #ccc solid 1px;
  text-align:center;
  padding: 1rem;
  flex: 1;
  margin: 0.75rem;
}

.item:first-child {
  flex: 1;
  
}